<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<header>
		<h1><%= title %></h1>
	</header>
	<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
	<nav>
	<span><a title="HOMEPAGE" href="/">HOMEPAGE</a></span>
	<span><a title="存档" href="/archive">archive</a></span>
	<span><a title="标签" href="/tags">tags</a></span>
	<span><a title="友情链接" href="/links">links</a></span>
	<% if (user) { %>
	  <span><a title="POST" href="/post">POST</a></span>
	  <span><a href="/upload" title="UPLOAD">UPLOAD</a></span>
	  <span><a title="LOGOUT" href="/logout">LOGOUT</a></span>
	<% } else { %>
	  <span><a title="LOGIN" href="/login">LOGIN</a></span>
	  <span><a title="REGISTER" href="/reg">REGISTER</a></span>
	<% } %>
	</nav>

	<article>
		<% if(success) {%>
			<div>
				<%=success %>
			</div>
		<%}%>
		<% if(error){%>
			<div>
				<%=error%>
			</div>
		<%}%>

